{% extends "base.html" %}

{% block style %}
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: left;
        font-family: "Karma", sans-serif
    }

    .w3-bar-block .w3-bar-item {
        padding: 20px
    }

    .logo {
        position: fixed;
        max-width: 20%;
        max-height: 20%;
        transform: translateX(-25%);
    }

    .content {
        float: left;
        left: 20%;
        position: absolute;
        width: 65%;
    }

    p {
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        overflow-wrap: break-word;
    }
</style>
{% endblock %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="content">
    <p>Our mission is to foster a community in which anyone can get involved and apply their interest in sports analytics in
    any capacity possible. Duke Sports Analytics Club will primarily be a platform in which people can do projects diving
    into a sport or problem of their choice. Afterward, they could publish that research project in an article which would
    be posted on our public facing website. We are also hoping to partner with Duke Athletics, allowing for dedicated
    members who are interested in working with the athletic department to help our school. Furthermore, we will be creating
    many opportunities for members to participate in sports analytics competitions, attend conferences, and get involved
    with research in the field.</p>
</div>
{% endblock %}