<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block style %}
{% endblock %}

<body>

    <!-- Top menu -->
    <h1>{% block header %}{% block title %}{% endblock %}{% endblock %}</h1>
    
    <a href="{{ url_for('home') }}">
        <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="club logo">
    </a>

    <!-- The sidebar -->
    <div class="sidebar">
        <a href="{{ url_for('home') }}"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="{{ url_for('about') }}"><i class="fa fa-fw fa-question"></i> About</a>
        <a href="{{ url_for('profiles') }}"><i class="fa fa-fw fa-user"></i> Profiles</a>
        <a href="{{ url_for('projects') }}"><i class="fa fa-bar-chart"></i> Projects</a>
        <a href="{{ url_for('resources') }}"><i class="fa fa-book"></i> Resources</a>
    </div>

{% block content %}
{% endblock %}

<footer id="footer">
    <div class="row">
        <div class="column">
            <p class="footer-p">Connect</p>
        </div>
        <div class="column">
            <a href="https://twitter.com/DukeSportsAC" class="fa fa-twitter"></a>
        </div>
        <div class="column">
            <a href="https://www.facebook.com/DukeSportsAnalytics" class="fa fa-facebook"></a>
        </div>
        <div class="column">
            <a href="https://www.instagram.com/dukesportsanalytics/" class="fa fa-instagram"></a>
        </div>
        <div class="column">
            <a href="https://github.com/Duke-Sports-Analytics-Club" class="fa fa-github"></a>
        </div>
        <div class="column">
            <a href="mailto: bluedevilanalytics@gmail.com" class="fa fa-envelope"></a>
        </div>
    </div>
    <p class="footer-p">Website Last Updated: March 2021</p>
</footer>

</body>
</html>