{% extends "base.html" %}

{% block style %}
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
    }

    .logo {
        position: absolute;
        max-width: 15%;
        max-height: 15%;
        top: 0;
        right: 0;
    }

    #footer {
        position: fixed;
        height: 92px;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;          /* Footer height */
        background-color: #C0C0C0;
    }

    .footer-p {
        text-align: center;
        color: black;
    }

    /* Style the sidebar - fixed full height */
    .sidebar {
        width: 15%;
        height: calc(100% - 92px);
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #2e6387;
        overflow-x: hidden;
        padding-top: 10px;
    }

    /* Style sidebar links */
    .sidebar a {
        text-decoration: none;
        font-size: 20px;
        color: #fbfcfc;
        display: block;
    }

    /* Style links on mouse-over */
    .sidebar a:hover {
        color: #f1f1f1;
    }

    /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
    @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
    }

    div.scroll {
        width: 70%; 
        height: 77vh; 
        overflow-x: auto; 
        overflow-y: auto;
        margin: 0 auto;
    }

    p {
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        overflow-wrap: break-word;
        text-align: center;
        color: #fbfcfc
    }

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;          /* Footer height */
        background-color: #f7f7f7;
    }

    .row {
        display: flex;
    }

    .column {
        padding-top: 5px;
        flex: 16.6667%;
    }

    .fa {
        padding: 5px;
        font-size: 25px;
        width: 65px;
        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

        /* Twitter */
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-github {
        background: white;
        color: black;
    }

    .fa-envelope {
        background: black;
        color: white;
    }
</style>
{% endblock %}

{% block title %}
Duke Sports Analytics Club
{% endblock %}

{% block content %}
<div class="scroll">
    <a href="https://forms.gle/nskXF38NcSgS5V6p8">
        <p>Click here to join</p>
    </a>
    <p>Contact us: duke-sports-analytics-club@duke.edu</p>
</div>
{% endblock %}