{% extends "base.html" %}

{% block style %}
<style>
    html {
        height: 100%;
        font-size: 100%;
    }

    body {
        height: 100%;
    }
    .bi {
        background-image: url("static/homeBackground.jpg");
        width: 100%;
        height: calc(100% - 100px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        position: fixed;
        text-align: center;
        vertical-align: middle;
        margin-top: 37vh;
        margin-left: 5%;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        padding: 5px;
        font-family: "Karma", sans-serif;
        font-weight: bolder;
        font-size: 50px;
        color: white;
    }
    h6 {
        text-align: center;
        font-family: "Karma", sans-serif;
        color: white;
        font-size: 30px;
    }
    a.one:link, a.one:visited {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 6px;
        font-family: "Karma", sans-serif;
        font-weight: bolder;
        text-align: center;
        vertical-align: middle;
        margin-left: 29.5%;
        margin-top: 70vh;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
    }
    a.one:hover, a.one:active {
        background: rgba(255, 255, 255, 0.90);
        color: black;
    }

    a.two:link, a.two:visited {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 6px;
        font-family: "Karma", sans-serif;
        font-weight: bolder;
        text-align: center;
        font-size: 20px;
        vertical-align: middle;
        margin-left: 30%;
        margin-top: 55vh;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
    }
    a.two:hover, a.two:active {
        background: rgba(255, 255, 255, 0.90);
        color: black;
    }

    .logo {
        position: absolute;
        max-width: 15%;
        max-height: 15%;
        top: 0;
        right: 0;
    }

    #footer {
        position: fixed;
        height: 100px;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;          /* Footer height */
        background-color: #C0C0C0;
    }

    .footer-p {
        text-align: center;
        color: black;
        font-family: "Karma", sans-serif;
    }

    /* Style the sidebar - fixed full height */
    .sidebar {
        width: 15%;
        height: calc(100% - 100px);
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
        /* background-color: #2e6387; */
        overflow-x: hidden;
        padding-top: 10px;
    }

    /* Style sidebar links */
    .sidebar a {
        text-decoration: none;
        font-size: 20px;
        color: #fbfcfc;
        display: block;
    }

    /* Style links on mouse-over */
    .sidebar a:hover {
        color: #f1f1f1;
    }

    /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
    @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
    }

    div.scroll {
        width: 70%; 
        height: 77vh; 
        overflow-x: auto; 
        overflow-y: auto;
        margin: 0 auto;
    }

    p {
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        overflow-wrap: break-word;
        text-align: center;
        color: #fbfcfc
    }

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;          /* Footer height */
        background-color: #f7f7f7;
    }

    .row {
        display: flex;
    }

    .column {
        padding-top: 5px;
        flex: 16.6667%;
    }

    .fa {
        padding: 5px;
        font-size: 25px;
        width: 65px;
        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

        /* Twitter */
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-github {
        background: white;
        color: black;
    }

    .fa-envelope {
        background: black;
        color: white;
    }
</style>
{% endblock %}

{% block title %}
<!-- Duke Sports Analytics Club -->
{% endblock %}

{% block content %}
<div class="bi">
    <div class="scroll">
        <div>
            <h5>Welcome to Duke Sports Analytics Club!</h5>
        </div>
    
        <div>
            <a class="two" href="{{ url_for('about') }}">Learn More</a>
        </div>
    
        <a class="one" href="https://forms.gle/nskXF38NcSgS5V6p8">Click here to join!</a>
    </div>
</div>
{% endblock %}