{% extends "base.html" %}

{% block style %}
<style>
    body,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
    }

    h1 {
        text-align: center;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
    }

    .subtitle-p {
        text-align: center;
        font-family: "Karma", sans-serif;
        color: #fbfcfc;
    }

    .content-p {
        text-align: left;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .logo {
        position: absolute;
        max-width: 15vw;
        max-height: 15vh;
        top: 0;
        right: 0;
    }

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 10vh;
        width: 100vw;
        text-align: center;
        background-color: #fbfcfc;
    }

    .last-updated {
        position: fixed;
        left: 40vw;
        top: 95vh;
    }

    .footer-p {
        font-size: 2vmin;
        text-align: center;
        color: black;
        font-family: "Karma", sans-serif;
    }

    /* Style the sidebar - fixed full height */
    .sidebar {
        width: 10vw;
        height: calc(100vh - 10vh);
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
        overflow-x: hidden;
        padding-top: 2vh;
    }

    /* Style sidebar links */
    .sidebar a {
        text-decoration: none;
        font-size: 2vmin;
        text-align: center;
        color: #fbfcfc;
        display: block;
    }

    /* Style links on mouse-over */
    .sidebar a:hover {
        color: #fbfcfc;
    }

    .social-sidebar {
        display: none;
    }

    div.scroll {
        height: calc(100vh - 20vh);
        width: 80vw;
        overflow-x: auto; 
        overflow-y: auto;
        margin: 0 auto;
        padding-top: 5vh;
        margin-left: 10vw;
    }

    p {
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        overflow-wrap: break-word;
        text-align: left;
        color: #fbfcfc
    }

    .row {
        display: flex;
    }

    .column {
        padding-top: 1vh;
        flex: 16.6667vw;
    }

    .row_profiles {
        display: flex;
    }

    .column_profiles_4 {
        flex: 25vw;
    }

    .column_profiles_1 {
        padding-left: 5vw;
    }

    .fa {
        font-size: 3vmin;
        padding-top: 1vh;
        padding-bottom: 1vh;
        width: 7vw;
        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

        /* Twitter */
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-github {
        background: white;
        color: black;
    }

    .fa-envelope {
        background: black;
        color: white;
    }

    /* The Modal (background) */
    .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.85);
    }

    /* Modal Content */
    .modal-content {
    position: relative;
    background-color: #2e6387;
    margin-top: 10vh;
    margin-left: 25vw;
    padding: 0;
    height: 80vh;
    width: 50vw;
    overflow: auto;
    }

    .modal-image {
        height:60vh;
    }

    /* The Close Button */
    .close {
    color: white;
    position: fixed;
    z-index: 1;
    top: 10vh;
    left: 73vw;
    font-size: 5vmin;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: #999;
    background-color: rgba(0, 0, 0, 0.4);
    padding-right: 1vw;
    padding-bottom: 1vh;
    border-radius: 1vmin 0 0 1vmin;
    text-decoration: none;
    cursor: pointer;
    }

    /* Hide the slides by default */
    .mySlides {
    display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
    cursor: pointer;
    position: absolute;
    top: 30vh;
    left: 0vw;
    padding: 3vmin;
    color: white;
    font-weight: bold;
    font-size: 3vmin;
    transition: 0.6s ease;
    border-radius: 2vmin 0 0 2vmin;
    user-select: none;
    -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
    left: 46vw;
    border-radius: 0 2vmin 2vmin 0;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }

    img.hover-shadow {
    height: 130px;
    width: 130px;
    transition: 0.3s;
    border-radius: 50%;
    object-fit: cover;
    }

    .hover-shadow:hover {
    box-shadow: 0 2vmin 2vmin 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #footer {
        display: none;

    }
    .last-updated {
        display: none;
    }
    .social-sidebar {
            display: block;
            padding-top: 2vh;
            padding-left: 1vw;
    }
    .social-sidebar .social-sidebar-row {
        display: flex;
        padding-bottom: 2vh;
    }
    .fa-github {
    background: black;
    color: white;
    }
    /* Modal Content */
    .modal-content {
    position: relative;
    background-color: #2e6387;
    margin-top: 10vh;
    margin-left: 10vw;
    padding: 0;
    height: 60vh;
    width: 80vw;
    overflow: auto;
    }
    .modal-image {
        height: 30vh;
    }
    /* The Close Button */
    .close {
    color: white;
    position: fixed;
    z-index: 1;
    top: 10vh;
    left: 86vw;
    font-size: 10vmin;
    font-weight: bold;
    }

    /* Position the "next button" to the right */
    .next {
    left: 75vw;
    border-radius: 0 2vmin 2vmin 0;
    }

}
</style>
{% endblock %}

{% block title %}
Profiles
{% endblock %}

{% block content %}
<div class="scroll">
<div class="row_profiles">
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Dillan_K_Sant.jpeg') }}" onclick="openModal();currentSlide(1)"
                class="hover-shadow">
        <a href="https://www.linkedin.com/in/dillan-sant-745b63234/">
            <p class="subtitle-p">Co-President<br>Dillan Sant</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Anmol_Sapru.jpeg') }}" onclick="openModal();currentSlide(2)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/anmol-sapru/">
            <p class="subtitle-p">Co-President<br>Anmol Sapru</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Akshal_Jain.jpeg') }}" onclick="openModal();currentSlide(3)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/akshaljain/">
            <p class="subtitle-p">Executive Vice President<br>Akshal Jain</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Matt_ODonnell.jpg') }}" onclick="openModal();currentSlide(4)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/matthew-o-donnell21/">
            <p class="subtitle-p">Head of Analytics<br>Matt O'Donnell</p>
        </a>
    </div>    
</div>

<div class="row_profiles">
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Aritra_Acharjee.jpeg') }}" onclick="openModal();currentSlide(5)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/aritra-acharjee-715405211/">
            <p class="subtitle-p">Head of Communications<br>Aritra Acharjee</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Ben_Trokenheim.jpg') }}" onclick="openModal();currentSlide(6)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/ben-trokenheim/">
            <p class="subtitle-p">Head of Events<br>Ben Trokenheim</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Gian_Castillero.jpeg') }}" onclick="openModal();currentSlide(7)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/gian-c-castillero-121126221/">
            <p class="subtitle-p">VP of External Outreach<br>Gian Castillero Jr.</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Carli_Olsen.jpeg') }}" onclick="openModal();currentSlide(8)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/carli-olsen/">
            <p class="subtitle-p">VP of Marketing<br>Carli Olsen</p>
        </a>
    </div>
</div>

<div class="row_profiles">
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Sravya_Yellapragada.png') }}" onclick="openModal();currentSlide(9)"
                class="hover-shadow">
        <a href="https://www.linkedin.com/in/sravyell/">
            <p class="subtitle-p">VP of Marketing<br>Sravya Yellapragada</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Parker_Miles.png') }}" onclick="openModal();currentSlide(10)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/parker-miles-7300371b8/">
            <p class="subtitle-p">VP of Internal Communications<br>Parker Miles</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Ayush_Batra.jpg') }}" onclick="openModal();currentSlide(11)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/ayush-batra-225687254/">
            <p class="subtitle-p">VP of Technology<br>Ayush Batra</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Samir_Travers.jpeg') }}" onclick="openModal();currentSlide(12)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/samir-travers-a6889a2a6/">
            <p class="subtitle-p">VP of Projects<br>Samir Travers</p>
        </a>
    </div>
</div>

<div class="row_profiles">
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Carlie_Scheer.jpeg') }}" onclick="openModal();currentSlide(13)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/carlie-scheer/">
            <p class="subtitle-p">VP of Projects<br>Carlie Scheer</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Shreyans_Gupta.jpeg') }}" onclick="openModal();currentSlide(14)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/shreyansguptaa/">
            <p class="subtitle-p">VP of Projects<br>Shreyans Gupta</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Daniel_Marin.JPG') }}" onclick="openModal();currentSlide(15)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/daniel-marin-cr1217/">
            <p class="subtitle-p">VP of Logistics<br>Daniel Marin</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Heath_Lawry.jpg') }}" onclick="openModal();currentSlide(16)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/heath-lawry-a29642274/">
            <p class="subtitle-p">VP of Logistics<br>Heath Lawry</p>
        </a>
    </div>
</div>
<div class="row_profiles">
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Harika_Amineni.jpg') }}" onclick="openModal();currentSlide(17)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/harika-amineni-878a81291/">
            <p class="subtitle-p">Treasurer<br>Harika Amineni</p>
        </a>
    </div>
    <div class="column_profiles_4">
    </div>
    <div class="column_profiles_4">
    </div>
    <div class="column_profiles_4">
    </div>
</div>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides">
            <h6><b><u>Co-President</u></b></h6>
            <img src="{{ url_for('static', filename='Dillan_K_Sant.jpeg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/dillan-sant-745b63234/">
                <h6><b><u>Dillan Sant</u></b></h6>
            </a>
            <p class="content-p">Dillan is a senior from St. Louis, Missouri studying statistics. He follows his Cardinals, Blues, and Billikens
            from St. Louis, and is also a huge college basketball fan. Dillan has previously worked for the Duke Field Hockey Team, performing scouting and data gathering. 
            Dillan also enjoys playing pickup basketball, travelling, and hiking. </p>
        </div>

        <div class="mySlides">
            <h6><b><u>Co-President</u></b></h6>
            <img src="{{ url_for('static', filename='Anmol_Sapru.jpeg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/anmol-sapru/">
                <h6><b><u>Anmol Sapru</u></b></h6>
            </a>
            <p class="content-p">Anmol is a junior from Cheshire, Connecticut studying data science and economics.
                 He is a huge NFL and Boston sports fan and follows the happenings in the sport swimming. In his free time, he enjoys swimming and watching movies. </p>
        </div>

        <div class="mySlides">
            <h6><b><u>Executive Vice President</u></b></h6>
            <img src="{{ url_for('static', filename='Akshal_Jain.jpeg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/akshaljain/">
                <h6><b><u>Akshal Jain</u></b></h6>
            </a>
            <p class="content-p">Akshal is a junior from Dubai, UAE studying Computer Science and Finance. 
                He avidly follows soccer and is a huge Manchester United fan. He also enjoys watching F1, the NBA, and college basketball. 
                Outside of DSAC, Akshal likes travelling, scuba diving,  and trying new food.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>Head of Analytics</u></b></h6>
            <img src="{{ url_for('static', filename='Matt_ODonnell.jpg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/matthew-o-donnell21/">
                <h6><b><u>Matt O'Donnell</u></b></h6>
            </a>
            <p class="content-p">Matt is a senior from the Greater Boston Area studying Computer Science and Statistics. He’s a huge Boston sports fan and follows all things NBA. 
                He also enjoys pickup basketball, fantasy football, and Duke basketball games.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>Head of Communications</u></b></h6>
            <img src="{{ url_for('static', filename='Aritra_Acharjee.jpeg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/aritra-acharjee-715405211/">
                <h6><b><u>Aritra Acharjee</u></b></h6>
            </a>
            <p class="content-p">Aritra Acharjee is a senior from Los Angeles, California studying Electrical and Computer Engineering and pursuing the Innovation and Entrepreneurship certificate. 
                He strongly supports the Lakers, Dodgers, Rams, and Manchester United. Outside of DSAC, Aritra is involved in Duke Bass Connections Research and Duke Robotics. 
                In his free time, Aritra enjoys playing basketball, running, or reading.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>Head of Events</u></b></h6>
            <img src="{{ url_for('static', filename='Ben_Trokenheim.jpg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/ben-trokenheim/">
                <h6><b><u>Ben Trokenheim</u></b></h6>
            </a>
            <p class="content-p">Ben is Sophomore studying Economics and Statistics. 
                With a keen interest in data analytics and a lifelong passion for sports, Ben is excited to be a part of the DSAC team.</p>
        </div>


        <div class="mySlides">
            <h6><b><u>VP of External Outreach</u></b></h6>
            <img src="{{ url_for('static', filename='Gian_Castillero.jpeg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/gian-c-castillero-121126221/">
                <h6><b><u>Gian Castillero Jr.</u></b></h6>
            </a>
            <p class="content-p">Gian is a senior from Panama City, Panama majoring in Statistical Science and Computer Science. 
            He follows international soccer, the NFL and NCAA Basketball and exspecially follows his hometown C.D. Plaza Amador and the Dallas Cowboys. 
            Gian also enjoys playing pickup soccer, listening to music and watching any sports. </p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Marketing</u></b></h6>
            <img src="{{ url_for('static', filename='Carli_Olsen.jpeg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/carli-olsen/">
                <h6><b><u>Carli Olsen</u></b></h6>
            </a>
            <p class="content-p">Carli is a junior from Orono, MN studying Statistical Science and minoring in Finance and Spanish Studies. 
                She loves watching tennis, the NFL, and the NBA, especially rooting for the Dallas Cowboys and Minnesota Timberwolves. 
                Carli also works for the Duke Men's Basketball Team as a Scouting and Analytics Intern. 
                In her free time, she enjoys spending time on the lake, playing tennis, working out and listening to pop or country music. </p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Marketing</u></b></h6>
            <img src="{{ url_for('static', filename='Sravya_Yellapragada.png') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/sravyell/">
                <h6><b><u>Sravya Yellapragada</u></b></h6>
            </a>
            <p class="content-p">Sravya is a junior from Chicago, IL studying Math and Econ. 
                She has always played sports growing up and loves watching them now, which led her to DSAC. Outside of DSAC, she is involved in Duke Student Government, volunteers for Duke Math Circles, and loves to work out and spend time with loved ones. </p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Internal Communications</u></b></h6>
            <img src="{{ url_for('static', filename='Parker_Miles.png') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/parker-miles-7300371b8/">
                <h6><b><u>Parker Miles</u></b></h6>
            </a>
            <p class="content-p">Parker is a sophomore from Atlanta, GA studying Economics and Statistics. He follows the NFL, PGA Tour, and the NBA and is a huge Atlanta Hawks fan. 
                In high school, he ran cross country / track and field, and he also played on the golf team. Outside of DSAC, some of his other favorite activities on campus are writing for the Duke Chronicle, playing tennis with friends, and spending time in Wilson.  </p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Technology</u></b></h6>
            <img src="{{ url_for('static', filename='Ayush_Batra.jpg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/ayush-batra-225687254/">
                <h6><b><u>Ayush Batra</u></b></h6>
            </a>
            <p class="content-p">Ayush is a junior from Rehoboth Beach, Delaware studying statistics and computer science. He follows basketball, NFL, and tennis. 
                He also works for the Duke Women’s Soccer team, performing data analysis and player reports. 
                Some of his hobbies include playing basketball and reading non-fiction books.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Projects</u></b></h6>
            <img src="{{ url_for('static', filename='Samir_Travers.jpeg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/samir-travers-a6889a2a6/">
                <h6><b><u>Samir Travers</u></b></h6>
            </a>
            <p class="content-p">Samir is a sophomore studying math and computer science. 
                Samir is passionate about the intersection between sports and data-analysis/ML techniques, and hopes to one day use analytics to study his own sport, fencing. </p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Projects</u></b></h6>
            <img src="{{ url_for('static', filename='Carlie_Scheer.jpeg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/carlie-scheer/">
                <h6><b><u>Carlie Scheer</u></b></h6>
            </a>
            <p class="content-p">Carlie is a sophomore from Kansas City, Kansas studying Computer Science and Statistics. 
                She primarily supports the Kansas City Chiefs, enjoys watching professional tennis, and is (of course) a massive Duke fan. 
                Outside of DSAC, Carlie is involved with the Line Monitor organization, serves as a tour guide, works for Duke Rec. & P.E., does computer vision/machine learning work with the Duke Women’s Basketball team, and is a member of DTech.  </p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Projects</u></b></h6>
            <img src="{{ url_for('static', filename='Shreyans_Gupta.jpeg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/shreyansguptaa/">
                <h6><b><u>Shreyans Gupta</u></b></h6>
            </a>
            <p class="content-p">Shreyans is a junior at Duke University, double majoring in Statistics and Mathematics with a certificate in Decision Science. 
                He is passionate about predictive modeling, controlled experiments, and machine learning, particularly at the intersection of sports and human communication. 
                Beyond DSAC, he enjoys weightlifting, exploring nutrition science, and solving complex puzzles.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Logistics</u></b></h6>
            <img src="{{ url_for('static', filename='Daniel_Marin.JPG') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/daniel-marin-cr1217/">
                <h6><b><u>Daniel Marin</u></b></h6>
            </a>
            <p class="content-p">Daniel is a sophomore from Escazu, Costa Rica majoring in Statistics and Economics. 
                He is a huge NBA, NFL, and college sports fan and an avid supporter of the Pittsburgh Steelers, Los Angeles Lakers, and Duke Athletics. 
                Daniel also works for Duke Basketball as a Video Room Intern, assisting with opponent scouting and team film necessities. 
                In his free time, he enjoys fantasy sports, working out, traveling, and spending time with his friends.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Logistics</u></b></h6>
            <img src="{{ url_for('static', filename='Heath_Lawry.jpg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/heath-lawry-a29642274/">
                <h6><b><u>Heath Lawry</u></b></h6>
            </a>
            <p class="content-p">Heath is sophomore from Boston, MA studying economics and computer science. 
                He follows all of the New England major sports teams for football, basketball, and hockey. 
                He enjoys playing basketball along with golf and playing the piano.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>Treasurer</u></b></h6>
            <img src="{{ url_for('static', filename='Harika_Amineni.jpg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/harika-amineni-878a81291/">
                <h6><b><u>Harika Amineni</u></b></h6>
            </a>
            <p class="content-p">Harika is a sophomore from Orange County, California planning to pursue degrees in Economics and Statistical Science with a History minor. 
                She has played cricket competitively for 9 years, and she also enjoys following soccer and F1. 
                Outside of DSAC, she is involved with Duke Motorsports, Club Soccer, and the Duke Economic Analytics Laboratory and also wants to join one of the animal aid organizations on campus. 
                Some of her other interests are reading and traveling.</p>
        </div>
        


        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
</div>

<script>
    // Open the Modal
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    // Close the Modal
    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>
{% endblock %}