{% extends "base.html" %}

{% block style %}
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
        font-family: "Karma", sans-serif;
    }

    p {
        text-align: left;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        overflow-wrap: break-word;
    }

    .footer-p {
        text-align: center;
    }

    .w3-bar-block .w3-bar-item {
        padding: 20px;
        
    }

    .logo {
        position: absolute;
        max-width: 15vh;
        max-height: 15vh;
        top: 0;
        right: 0;
    }

    .container {
        min-height: calc(100vh - 92px);
        width: 100vh;
    }

    #footer {
        position: fixed;
        height: 92px;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;          /* Footer height */
        background-color: #C0C0C0;
    }

    .clearfix:before,
    .clearfix:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    .clearfix:after {
        clear: both;
    }
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
    .clearfix {
        *zoom: 1;
    }

    div.scroll {
        width: 70%; 
        height: 77vh; 
        overflow-x: auto; 
        overflow-y: auto;
        margin: 0 auto;
    }

    .row {
        display: flex;
    }

    .column {
        padding-top: 5px;
        flex: 16.6667%;
    }

    .fa {
        padding: 5px;
        font-size: 25px;
        width: 65px;
        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

        /* Twitter */
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-github {
        background: white;
        color: black;
    }

    .fa-envelope {
        background: black;
        color: white;
    }
</style>
{% endblock %}

{% block title %}
Profiles
{% endblock %}

{% block content %}
<div class="scroll">
<div class="clearfix float-my-children">
    <img src="{{ url_for('static', filename='Sean_Li.JPG') }}" width=200>
    <div>President: Sean Li</div>
    <p>Sean is a freshman from Chicago, IL studying Statistics and Computer Science. He follows NBA and NCAA basketball and is
    a huge Chicago Bulls fan. Growing up running cross-country and track, he also follows distance running. Outside of DSAC,
    you can find him longboarding, eating Mexican food, and playing recreational basketball.</p>
</div>

<div class="clearfix float-my-children">
    <img src="{{ url_for('static', filename='Ben_Thorpe.JPG') }}" width=200>
    <div>Chief Analytics Officer: Ben Thorpe</div>
    <p>Ben is a freshman from Miami, FL planning on majoring in data science. He is a huge Miami Heat, Miami Dolphins, and
    Swansea City AFC fan and avidly follows the NBA, NFL, European soccer, and college basketball and football. Some of his
    hobbies include cooking and playing recreational basketball.</p>
</div>

<div class="clearfix float-my-children">
    <img src="{{ url_for('static', filename='Piper_Hampsch.jpg') }}" width=200>
    <div>VP of Communications: Piper Hampsch</div>
    <p>I am a second-year student-athlete pursuing a degree in Statistics with minors in Computer Science and Philosophy. I
    compete on the Field Hockey Team for the Blue Devils as a goalkeeper, and I am my team’s representative on the
    Student-Athlete Advisory Committee. When I’m not on the hockey pitch, I love watching and analyzing other sports, namely
    basketball, ice hockey, and football. I hail from Massachusetts, but oddly enough I’m not a New England Sports fan!
    Instead I root for an eclectic group of pro teams, but in the NCAA I am loyal to Duke of course!</p>
</div>

<div class="clearfix float-my-children">
    <img src="{{ url_for('static', filename='Bryce_Grove.png') }}" width=200>
    <div>VP of External Relations: Bryce Grove</div>
    <p>Bryce is a Sophomore from Phoenix, AZ studying Economics and Finance, and he is currently serving as the Vice President
    of External Relations. While he (unfortunately) roots for Arizona sports teams, Bryce still manages to be an avid
    follower of the NBA, NCAA Basketball, NCAA Football, and the NFL. Outside of his work with DSAC, Bryce works as a
    Statistical Analyst for Duke Men's Basketball. When he is not working, you can find Bryce playing pickup with his
    friends or cooking.</p>
</div>

<div class="clearfix float-my-children">
    <img src="{{ url_for('static', filename='Jack_Lichtenstein.jpg') }}" width=200>
    <div>VP of Analytics: Jack Lichtenstein</div>
    <p>Jack is a junior from New Jersey studying Data Science. He is a video scout and data analyst for the Duke men’s
        basketball team. He is a lifelong fan of the New York Jets and Brooklyn Nets.</p>
</div>

<div class="clearfix float-my-children">
    <img src="{{ url_for('static', filename='Luke_Thomas.jpg') }}" width=200>
    <div>VP of Analytics: Luke Thomas</div>
    <p>Luke is a freshman from Charlotte, North Carolina studying computer science and statistics. He’s played soccer his whole
    life and enjoys watching the Premier League and Champions League, supporting Chelsea FC. He also follows football and
    basketball, as a Carolina Panthers and Charlotte Hornets fan, and never misses out on a good fantasy football league.</p>
</div>

<div class="clearfix float-my-children">
    <img src="{{ url_for('static', filename='Chase_Johnson.JPG') }}" width=200>
    <div>VP of Analytics: Chase Johnson</div>
    <p>Chase is a freshman from Hickory, NC (about an hour north of Charlotte), with interests in Math and Statistics. He is a
    huge NCAA basketball and football fan, and follows the NBA and NFL closely as well. He is down to play pretty much any
    sport at any time, but only officially participated in cross country and track in high school. In his free time, Chase
    enjoys playing spikeball, exploring new places, and watching an unhealthy amount of sports.</p>
</div>

<div class="clearfix float-my-children">
    <img src="{{ url_for('static', filename='Brian_Janger.jpg') }}" width=200>
    <div>VP of Analytics: Brian Janger</div>
    <p>I’m from Houston, Texas and I’m a freshman here at Duke. I intend to complete the interdepartmental major track in
    Computer Science and Statistics and minor in either Physics or Spanish. I have been an avid sports fan since I was just
    a kid, and I specialize in projects surrounding the sports I’ve played or watched the most – basketball, football, and
    golf. I believe that there’s a lot of potential for analytics in the sports world and I’m very excited to work on
    various projects and find new developments in the sports world!</p>
</div>

<div class="clearfix float-my-children">
    <img src="{{ url_for('static', filename='Caleb_Woo.JPG') }}" width=200>
    <div>VP of Technology: Caleb Woo</div>
    <p>Caleb is a junior from Basking Ridge, NJ majoring in Data Science and minoring in Music. While he follows soccer,
    basketball, and football, his main passion is baseball and rooting for the New York Yankees. Outside of DSAC, Caleb
    enjoys studying the saxophone, watching YouTube videos, and sleeping.</p>
</div>

<div class="clearfix float-my-children">
    <img src="{{ url_for('static', filename='anonymous.png') }}" width=200>
    <div>VP of Technology: Lucas Josephy</div>
    <p>Lucas is a sophomore from Jericho, New York majoring in Electrical and Computer Engineering and Computer Science. 
    He is a huge football and, more specifically, New York Giants fan, but also follows soccer and basketball intently. 
    In his free time, you can catch Lucas watching movies and playing fantasy football.   </p>
</div>

<div class="clearfix float-my-children">
    <img src="{{ url_for('static', filename='Angel_Chaudhary.jpeg') }}" width=200>
    <div>Editor in Chief: Angel Chaudhary</div>
    <p>Angel is a sophomore from Bear, Delaware studying Computer Science and Decision Science. She has played tennis and
    basketball her entire life and follows both sports actively. She is also a big football fan and loves the Philadelphia
    Eagles. Outside of DSAC, you can find Angel watching movies, playing tennis, and making Spotify playlists.</p>
</div>

<div class="clearfix float-my-children">
    <img src="{{ url_for('static', filename='anonymous.png') }}" width=200>
    <div>Treasurer: Jackson Muraika</div>
    <p>Jackson is a Sophomore form Hershey, PA studying Economics and Statistics. He is a die-hard New York Giants fan who
    closely follows the NFL, NBA, and pro tennis. Beyond his studies, Jackson is an avid photographer who is always working
    on new projects. Jackson loves to take play tennis and listen to music in his free time as well.</p>
</div>
</div>
{% endblock %}