{% extends "base.html" %}

{% block style %}
<style>
    body,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
    }

    h1 {
        text-align: center;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
    }

    .subtitle-p {
        text-align: center;
        font-family: "Karma", sans-serif;
        color: #fbfcfc;
    }

    .content-p {
        text-align: left;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .logo {
        position: absolute;
        max-width: 15vw;
        max-height: 15vh;
        top: 0;
        right: 0;
    }

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 10vh;
        width: 100vw;
        text-align: center;
        background-color: #fbfcfc;
    }

    .last-updated {
        position: fixed;
        left: 40vw;
        top: 95vh;
    }

    .footer-p {
        font-size: 2vmin;
        text-align: center;
        color: black;
        font-family: "Karma", sans-serif;
    }

    /* Style the sidebar - fixed full height */
    .sidebar {
        width: 10vw;
        height: calc(100vh - 10vh);
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
        overflow-x: hidden;
        padding-top: 2vh;
    }

    /* Style sidebar links */
    .sidebar a {
        text-decoration: none;
        font-size: 2vmin;
        text-align: center;
        color: #fbfcfc;
        display: block;
    }

    /* Style links on mouse-over */
    .sidebar a:hover {
        color: #fbfcfc;
    }

    .social-sidebar {
        display: none;
    }

    div.scroll {
        height: calc(100vh - 20vh);
        width: 80vw;
        overflow-x: auto; 
        overflow-y: auto;
        margin: 0 auto;
        padding-top: 5vh;
        margin-left: 10vw;
    }

    p {
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        overflow-wrap: break-word;
        text-align: left;
        color: #fbfcfc
    }

    .row {
        display: flex;
    }

    .column {
        padding-top: 1vh;
        flex: 16.6667vw;
    }

    .row_profiles {
        display: flex;
    }

    .column_profiles_4 {
        flex: 25vw;
    }

    .column_profiles_1 {
        padding-left: 5vw;
    }

    .fa {
        font-size: 3vmin;
        padding-top: 1vh;
        padding-bottom: 1vh;
        width: 7vw;
        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

        /* Twitter */
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-github {
        background: white;
        color: black;
    }

    .fa-envelope {
        background: black;
        color: white;
    }

    /* The Modal (background) */
    .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.85);
    }

    /* Modal Content */
    .modal-content {
    position: relative;
    background-color: #2e6387;
    margin-top: 10vh;
    margin-left: 25vw;
    padding: 0;
    height: 80vh;
    width: 50vw;
    overflow: auto;
    }

    .modal-image {
        height:60vh;
    }

    /* The Close Button */
    .close {
    color: white;
    position: fixed;
    z-index: 1;
    top: 10vh;
    left: 73vw;
    font-size: 5vmin;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: #999;
    background-color: rgba(0, 0, 0, 0.4);
    padding-right: 1vw;
    padding-bottom: 1vh;
    border-radius: 1vmin 0 0 1vmin;
    text-decoration: none;
    cursor: pointer;
    }

    /* Hide the slides by default */
    .mySlides {
    display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
    cursor: pointer;
    position: absolute;
    top: 30vh;
    left: 0vw;
    padding: 3vmin;
    color: white;
    font-weight: bold;
    font-size: 3vmin;
    transition: 0.6s ease;
    border-radius: 2vmin 0 0 2vmin;
    user-select: none;
    -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
    left: 46vw;
    border-radius: 0 2vmin 2vmin 0;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }

    img.hover-shadow {
    height: 130px;
    width: 130px;
    transition: 0.3s;
    border-radius: 50%;
    object-fit: cover;
    }

    .hover-shadow:hover {
    box-shadow: 0 2vmin 2vmin 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #footer {
        display: none;

    }
    .last-updated {
        display: none;
    }
    .social-sidebar {
            display: block;
            padding-top: 2vh;
            padding-left: 1vw;
    }
    .social-sidebar .social-sidebar-row {
        display: flex;
        padding-bottom: 2vh;
    }
    .fa-github {
    background: black;
    color: white;
    }
    /* Modal Content */
    .modal-content {
    position: relative;
    background-color: #2e6387;
    margin-top: 10vh;
    margin-left: 10vw;
    padding: 0;
    height: 60vh;
    width: 80vw;
    overflow: auto;
    }
    .modal-image {
        height: 30vh;
    }
    /* The Close Button */
    .close {
    color: white;
    position: fixed;
    z-index: 1;
    top: 10vh;
    left: 86vw;
    font-size: 10vmin;
    font-weight: bold;
    }

    /* Position the "next button" to the right */
    .next {
    left: 75vw;
    border-radius: 0 2vmin 2vmin 0;
    }

}
</style>
{% endblock %}

{% block title %}
Profiles
{% endblock %}

{% block content %}
<div class="scroll">
<div class="row_profiles">
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Sean_Li.JPG') }}" onclick="openModal();currentSlide(1)"
        class="hover-shadow">
        <a href="https://www.linkedin.com/in/seanmtli/">
            <p class="subtitle-p">President:<br>Sean Li</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Ben_Thorpe.JPG') }}" onclick="openModal();currentSlide(2)"
                class="hover-shadow">
        <a href="https://www.linkedin.com/in/ben-thorpe/">
            <p class="subtitle-p">Chief Analytics Officer:<br>Ben Thorpe</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Piper_Hampsch.jpg') }}" onclick="openModal();currentSlide(3)"
                class="hover-shadow">
        <a href="https://www.linkedin.com/in/piperhampsch/">
            <p class="subtitle-p">VP of Communications:<br>Piper Hampsch</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Bryce_Grove.png') }}" onclick="openModal();currentSlide(4)"
                class="hover-shadow">
        <a href="https://www.linkedin.com/in/bryce-grove/">
            <p class="subtitle-p">VP of External Relations:<br>Bryce Grove</p>
        </a>
    </div>
</div>

<div class="row_profiles">
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Dillan_Sant.jpeg') }}" onclick="openModal();currentSlide(5)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/dillan-sant-745b63234/">
            <p class="subtitle-p">VP of Technology:<br>Dillan Sant</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Luke_Thomas.jpg') }}" onclick="openModal();currentSlide(6)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/luke-thomas-b2008821a/">
            <p class="subtitle-p">VP of Analytics:<br>Luke Thomas</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Chase_Johnson.JPG') }}" onclick="openModal();currentSlide(7)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/chase-johnson-1317231a6/">
            <p class="subtitle-p">VP of Analytics:<br>Chase Johnson</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Luke_Josephy.jpg') }}" onclick="openModal();currentSlide(8)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/lucasjosephy/">
            <p class="subtitle-p">VP of Analytics:<br>Lucas Josephy</p>
        </a>
    </div>
</div>

<div class="row_profiles">
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='Amichai_Schleifer.jpg') }}" onclick="openModal();currentSlide(9)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/amichai-schleifer-bb658821a/">
            <p class="subtitle-p">Treasurer:<br>Amichai Schleifer</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='anonymous.png') }}" onclick="openModal();currentSlide(10)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/caleb-woo/">
            <p class="subtitle-p">VP of Analytics:<br>Gian Castillero Jr.</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='anonymous.png') }}" onclick="openModal();currentSlide(11)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/angelchaudhary/">
            <p class="subtitle-p">Editor in Chief:<br>Alex Jackson</p>
        </a>
    </div>
    <div class="column_profiles_4">
        <img src="{{ url_for('static', filename='anonymous.png') }}" onclick="openModal();currentSlide(12)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/angelchaudhary/">
            <p class="subtitle-p">VP of Analytics:<br>Max Brown</p>
        </a>
    </div>
</div>
<div class="row_profiles">
    <div class="column_profiles_1">
        <img src="{{ url_for('static', filename='anonymous.png') }}" onclick="openModal();currentSlide(13)"
            class="hover-shadow">
        <a href="https://www.linkedin.com/in/angelchaudhary/">
            <p class="subtitle-p">Editor in Chief:<br>Jack Miller</p>
        </a>
    </div>

</div>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides">
            <h6><b><u>President</u></b></h6>
            <img src="{{ url_for('static', filename='Sean_Li.JPG') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/seanmtli/">
                <h6><b><u>Sean Li</u></b></h6>
            </a>
            <p class="content-p">Sean is a junior from Chicago, IL studying Statistics and Computer Science. He follows NBA and NCAA basketball and is
            a huge Chicago Bulls fan. Growing up running cross-country and track, he also follows distance running. Outside of DSAC,
            you can find him longboarding, eating Mexican food, and playing recreational basketball.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>Executive Vice President</u></b></h6>
            <img src="{{ url_for('static', filename='Ben_Thorpe.JPG') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/ben-thorpe/">
                <h6><b><u>Ben Thorpe</u></b></h6>
            </a>
            <p class="content-p">Ben is a junior from Miami, FL planning on majoring in data science. He is a huge Miami Heat, Miami Dolphins, and
            Swansea City AFC fan and avidly follows the NBA, NFL, European soccer, and college basketball and football. Some of his
            hobbies include cooking and playing recreational basketball.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Communications</u></b></h6>
            <img src="{{ url_for('static', filename='Piper_Hampsch.jpg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/piperhampsch/">
                <h6><b><u>Piper Hampsch</u></b></h6>
            </a>
            <p class="content-p">Piper is a fourth-year student-athlete pursuing a degree in Statistics with minors in Computer Science and Philosophy.
            She competes on the Field Hockey Team for the Blue Devils as a goalkeeper and is her team’s representative on the
            Student-Athlete Advisory Committee. When Piper is not on the hockey pitch, she loves watching and analyzing other
            sports, namely basketball, ice hockey, and football. Piper hails from Massachusetts, but oddly enough she is not a New
            England Sports fan! Instead Piper roots for an eclectic group of pro teams, but in the NCAA she is loyal to Duke of
            course!</p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of External Relations</u></b></h6>
            <img src="{{ url_for('static', filename='Bryce_Grove.png') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/bryce-grove/">
                <h6><b><u>Bryce Grove</u></b></h6>
            </a>
            <p class="content-p">Bryce is a senior from Phoenix, AZ studying Economics and Finance, and he is currently serving as the Vice President of
            External Relations. While he (unfortunately) roots for Arizona sports teams, Bryce still manages to be an avid follower
            of the NBA, NCAA Basketball, NCAA Football, and the NFL. Outside of his work with DSAC, Bryce works as a Statistical
            Analyst for Duke Men's Basketball. When he is not working, you can find Bryce playing pickup with his friends or
            cooking.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Technology</u></b></h6>
            <img src="{{ url_for('static', filename='Dillan_Sant.jpeg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/dillan-sant-745b63234/">
                <h6><b><u>Dillan Sant</u></b></h6>
            </a>
            <p class="content-p">Dillan is a sophomore from St. Louis, Missouri studying statistics and finance. He follows his Cardinals, Blues, and Billikens
            from St. Louis, and is also a huge college basketball fan. Dillan also works for the Duke Field Hockey Team, performing scouting and data gathering. 
            Dillan also enjoys playing pickup basketball, travelling, and hiking. </p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Analytics</u></b></h6>
            <img src="{{ url_for('static', filename='Luke_Thomas.jpg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/luke-thomas-b2008821a/">
                <h6><b><u>Luke Thomas</u></b></h6>
            </a>
            <p class="content-p">Luke is a junior from Charlotte, North Carolina studying computer science and statistics. He’s played soccer his
            whole life and enjoys watching the Premier League and Champions League, supporting Chelsea FC. He also follows football
            and basketball, as a Carolina Panthers and Charlotte Hornets fan, and never misses out on a good fantasy football
            league.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Analytics</u></b></h6>
            <img src="{{ url_for('static', filename='Chase_Johnson.JPG') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/chase-johnson-1317231a6/">
                <h6><b><u>Chase Johnson</u></b></h6>
            </a>
            <p class="content-p">Chase is a junior from Hickory, NC (about an hour north of Charlotte), with interests in Math and Statistics. He is a
            huge NCAA basketball and football fan, and follows the NBA and NFL closely as well. He is down to play pretty much any
            sport at any time, but only officially participated in cross country and track in high school. In his free time, Chase
            enjoys playing spikeball, exploring new places, and watching an unhealthy amount of sports.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Technology</u></b></h6>
            <img src="{{ url_for('static', filename='Luke_Josephy.jpg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/lucasjosephy/">
                <h6><b><u>Lucas Josephy</u></b></h6>
            </a>
            <p class="content-p">Lucas is a senior from Jericho, New York majoring in Electrical and Computer Engineering and Computer Science. He is a
            huge football and, more specifically, New York Giants fan, but also follows soccer and basketball intently. In his free
            time, you can catch Lucas watching movies and playing fantasy football.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>Treasurer</u></b></h6>
            <img src="{{ url_for('static', filename='Amichai_Schleifer.jpg') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/amichai-schleifer-bb658821a/">
                <h6><b><u>Amichai Schleifer</u></b></h6>
            </a>
            <p class="content-p">Amichai is a junior from NYC studying Economics and Psychology and is interested in human decision making as well as
            business and entrepreneurship. He is passionate about basketball and baseball as well as Formula 1 and is a die hard
            Knicks and Yankees fan. In his free time he loves to play tennis and chess, go on long bike rides, and spend time
            outdoors with friends.</p>
        </div>

        <div class="mySlides">
            <h6><b><u>VP of Analytics</u></b></h6>
            <img src="{{ url_for('static', filename='anonymous.png') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/amichai-schleifer-bb658821a/">
                <h6><b><u>Gian Castillero Jr.</u></b></h6>
            </a>
            <p class="content-p"></p>
        </div>

        <div class="mySlides">
            <h6><b><u>Editor in Chief</u></b></h6>
            <img src="{{ url_for('static', filename='anonymous.png') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/amichai-schleifer-bb658821a/">
                <h6><b><u>Alex Jackson</u></b></h6>
            </a>
            <p class="content-p"></p>
        </div>
        <div class="mySlides">
            <h6><b><u>VP of Analytics</u></b></h6>
            <img src="{{ url_for('static', filename='anonymous.png') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/amichai-schleifer-bb658821a/">
                <h6><b><u>Max Brown</u></b></h6>
            </a>
            <p class="content-p"></p>
        </div>
        <div class="mySlides">
            <h6><b><u>VP of Analytics</u></b></h6>
            <img src="{{ url_for('static', filename='anonymous.png') }}" class="modal-image">
            <a href="https://www.linkedin.com/in/amichai-schleifer-bb658821a/">
                <h6><b><u>Jack Miller</u></b></h6>
            </a>
            <p class="content-p"></p>
        </div>

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
</div>

<script>
    // Open the Modal
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    // Close the Modal
    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>
{% endblock %}