{% extends "base.html" %}

{% block style %}
<style>
    body,
    h2,
    h3,
    h4,
    h5 {
        text-align: center;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
    }

    h1 {
        text-align: center;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
        padding-left: 10vw;
    }

    h6 {
        text-align: left;
        font-family: "Karma", sans-serif;
        font-size: 4vmin;
        font-weight: bolder;
        text-decoration: underline;
    }

    .post_pic {
        float: left;
        padding: 1vmin;
        max-height: 20vh;
    }

    .post_text {
        text-align: left;
    }

    .logo {
        position: absolute;
        max-width: 15vw;
        max-height: 15vh;
        top: 0;
        right: 0;
    }

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 10vh;
        width: 100vw;
        text-align: center;
        background-color: #fbfcfc;
    }

    .last-updated {
        position: fixed;
        left: 40vw;
        top: 95vh;
    }

    .footer-p {
        font-size: 2vmin;
        text-align: center;
        color: black;
        font-family: "Karma", sans-serif;
    }

    /* Style the sidebar - fixed full height */
    .sidebar {
        width: 10vw;
        height: calc(100vh - 10vh);
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
        overflow-x: hidden;
        padding-top: 2vh;
    }

    /* Style sidebar links */
    .sidebar a {
        text-decoration: none;
        font-size: 2vmin;
        text-align: center;
        color: #fbfcfc;
        display: block;
    }

    /* Style links on mouse-over */
    .sidebar a:hover {
        color: #fbfcfc;
    }

    .social-sidebar {
        display: none;
    }

    div.container {
        height: calc(100vh - 10vh);
    }

    div.scroll {
        height: calc(100vh - 10vh); 
        overflow-x: auto; 
        overflow-y: auto;
        margin: 0 auto;
    }

    p {
        text-align: left;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        overflow-wrap: break-word;
        text-align: center;
        color: #fbfcfc
    }

    .row {
        display: flex;
    }

    .column {
        padding-top: 1vh;
        flex: 16.6667vw;
    }

    .fa {
        font-size: 3vmin;
        padding-top: 1vh;
        padding-bottom: 1vh;
        width: 7vw;
        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

        /* Twitter */
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-github {
        background: white;
        color: black;
    }

    .fa-envelope {
        background: black;
        color: white;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        #footer {
            display: none;

        }
        .last-updated {
            display: none;
        }
        .social-sidebar {
                display: block;
                padding-top: 2vh;
                padding-left: 1vw;
        }
        .social-sidebar .social-sidebar-row {
            display: flex;
            padding-bottom: 2vh;
        }
        .fa-github {
        background: black;
        color: white;
        }
    }
</style>
{% endblock %}

{% block title %}
Projects
{% endblock %}

{% block content %}

<div class="container">
    <div class="scroll">
    
        <div style='padding-left:12vw;'>
            <a href="{{ url_for('mbappe') }}">
                <img class="post_pic" src="static/mbappe.jpeg" width="15%">
            </a>
        </div>
        <div style='padding-left:12vw;'>
            <h6><a href="{{ url_for('mbappe') }}">Predicting Sports Bets within the FIFA 2022 World Cup</a></h6>
            <p class="post_text">By: Sean Li, Aaditya Warrier, Christina Yoh, Brian Janger</p>
            <p class="post_text">This project aims to build a predictive model for the FIFA 2022 World Cup. 
                The model predicts goal line bets and money line bets and tries to find margins against the sportsbooks, 
                comparing odds to sportsbooks to determine which bets are more likely to be profitable.
            </p>
        </div>

        <div style='padding-left:12vw;'>
            <a href="{{ url_for('kershaw') }}">
                <img class="post_pic" src="static/kershaw.jpeg" width="15%">
            </a>
        </div>
        <div style='padding-left:12vw;'>
            <h6><a href="{{ url_for('kershaw') }}">Does Handedness Still Matter In The MLB?</a></h6>
            <p class="post_text">By: Max Brown, Evan Ginsburg, Luke Lorentzatos, Raymond Xiong</p>
            <p class="post_text">This project evaluates the overarching effect of handedness on pitcher/hitter 
                matchups across different time periods in the MLB. Should teams still be utilizing the assumption 
                that same sided matchups are advantageous for the defense?</p>
        </div>

        <div style='padding-left:12vw;'>
            <a href="{{ url_for('cfb_coach') }}">
                <img class="post_pic" src="static/cfb_coach.jpeg" width="15%">
            </a>
        </div>
        <div style='padding-left:12vw;'>
            <h6><a href="{{ url_for('cfb_coach') }}">Measuring the Impact of NCAA Football Head Coach Changes</a></h6>
            <p class="post_text">By: Jack Miller, Alex Jackson, Bryce Grove</p>
            <p class="post_text">This project aims to quantify the impact of first-year NCAA football coaches.
                The scope of this project is NCAA Division 1 programs who have made head coaching changes in the last 10 seasons.
                The project compares metrics like win percentage to contruct linear regression models to ultimately quantify 
                and predict the impact of first-year coaches.</p>
        </div>

        <div style='padding-left:12vw;'>
            <a href="{{ url_for('nfl_upset') }}">
                <img class="post_pic" src="static/nfl_upset.jpeg" width="15%">
            </a>
        </div>
        <div style='padding-left:12vw;'>
            <h6><a href="{{ url_for('nfl_upset') }}">Predicting NFL Upsets Using Multilevel Logistic Regression</a></h6>
            <p class="post_text">By: Jack Miller</p>
            <p class="post_text">This goal of this project is to predict upsets in NFL games using multilevel logistic
                regression. The project utilizes NFL play-by-play and schedule data to create a model to discover which 
                variables are the best predictors of an upset.</p>
        </div>

        <div style='padding-left:12vw;'>
            <a href="{{ url_for('nba_fouls_survivorship_model') }}">
                <img class="post_pic" src="static/NBA_Fouls_Survivorship_Model.png" width="15%">
            </a>
        </div>
        <div style='padding-left:12vw;'>
            <h6><a href="{{ url_for('nba_fouls_survivorship_model') }}">NBA Fouls Survivorship Model</a></h6>
            <p class="post_text">By: Bryce Grove</p>
            <p class="post_text">This paper utilizes 2020-2021 NBA Play-by-Play data to help answer the “pull your player”
                problem. By using historical
                data to estimate foul rates by position and game time, the paper provides an accurate probability a given player
                fouls
                out for each additional minute played.</p>
        </div>

        <div style='padding-left:12vw;'>
            <a href="{{ url_for('tutorial_post') }}">
                <img class="post_pic" src="static/tutorialProject.jpg" width="15%">
            </a>
        </div>
        <div style='padding-left:12vw;'>
            <h6><a href="{{ url_for('tutorial_post') }}">Tutorial Post</a></h6>
            <p class="post_text">By: Jack Lichtenstein</p>
            <p class="post_text">The goal of this post is to familiarize R programming beginners with some public sports data sources.
                Specifically, we will look at scraping sports-reference.com ’s college basketball data and then making some
                visualizations. Let’s get started!</p>
        </div>
        
    </div>
</div>
{% endblock %}