{% extends "base.html" %}

{% block style %}
<style>
    body,
    h5,
    h6 {
        text-align: left;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
        padding-left: 10vw;
    }

    h4 {
        text-align: left;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
        padding-left: 1vw;
    }

    h1,
    h2,
    h3 {
        text-align: center;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
    }

    .logo {
        position: absolute;
        max-width: 15vw;
        max-height: 15vh;
        top: 0;
        right: 0;
    }

    #footer {
        position: fixed;
        width: 100vw;
        height: 15vh;
        text-align: center;          /* Footer height */
        background-color: #f7f7f7;
    }

    .footer-p {
        text-align: center;
        color: black;
    }

    /* Style the sidebar - fixed full height */
    .sidebar {
        width: 10vw;
        height: calc(100vh - 15vh);
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
        overflow-x: hidden;
        padding-top: 2vh;
    }

    /* Style sidebar links */
    .sidebar a {
        text-decoration: none;
        font-size: 2vmin;
        text-align: center;
        color: #fbfcfc;
        display: block;
    }

    /* Style links on mouse-over */
    .sidebar a:hover {
        color: #f1f1f1;
    }

    div.scroll {
        height: calc(100vh - 25vh); 
        overflow-x: auto; 
        overflow-y: auto;
        margin: 0 auto;
    }

    p {
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        overflow-wrap: break-word;
        text-align: left;
        color: #fbfcfc;
        text-align: center;
    }

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;          /* Footer height */
        background-color: #f7f7f7;
    }

    .row {
        display: flex;
    }

    .column {
        padding-top: 2vh;
        flex: 16.6667vw;
    }

    .fa {
        padding: 1vh;
        font-size: 3vmin;
        width: 7vw;
        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

        /* Twitter */
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-github {
        background: white;
        color: black;
    }

    .fa-envelope {
        background: black;
        color: white;
    }
</style>
{% endblock %}

{% block title %}
Resources
{% endblock %}

{% block content %}
<div class="scroll">

    <h4><b>Conferences</b></h4>
    <ul>
        <a href="http://stat.cmu.edu/cmsac/conference/2021/">
            <li>Carnegie Mellon Sports Analytics Conference</li></a>
        <ul>
            <li>November 6-7, 2021</li>
        </ul>

        <a href="https://www.nhl.com/bluejackets/team/cbj-analytics-conference#:~:text=The%20CBJ%20Hockey%20Analytics%20Conference,done%20by%20industry%20professionals%20today.">
            <li>Columbus Blue Jackets Hockey Analytics Conference</li>
        </a>
        <ul>
            <li>February 2022</li>
        </ul>

        <a href="https://www.witinc.com/great-lakes-data-summit">
            <li>Great Lakes Analytics Conference</li>
        </a>
        <ul>
            <li>March 10, 2022</li>
        </ul>

        <a href="http://www.mathsportinternational.com/">
            <li>MathSport International</li>
        </a>
        <ul>
            <li>June/July 2022</li>
        </ul>

        <a href="https://www.sloansportsconference.com/">
            <li>MIT Sloan Sports Analytics Conference</li>
        </a>
        <ul>
            <li>March 4-5, 2022</li>
        </ul>
        <a href="http://nessis.org/">
            <li>New England Symposium on Statistics in Sports</li>
        </a>
        <ul>
            <li>Friday afternoons during the month of October, 2021</li>
        </ul>
        <a href="https://www.youtube.com/playlist?list=PL9Az6mi38hv9Y1CNUXfjgxoawTxgMQu2M">
            <li>OptaPro Forum</li>
        </a>
        <ul>
            <li>YouTube videos</li>
        </ul>
        <a href="https://www.youtube.com/channel/UC6622EYQm6BcOYBl_aM7rhw/videos">
            <li>Ottawa Hockey Analytics Conference at Carleton</li>
        </a>
        <ul>
            <li>YouTube videos</li>
        </ul>
        <a href="https://www.rit.edu/science/sports-analytics-conference">
            <li>Rochester Institute of Technology Sports Analytics Conference</li>
        </a>
        <ul>
            <li>Dates TBD</li>
        </ul>
        <a href="https://sabr.org/events">
            <li>SABR Analytics Conference</li>
        </a>
        <ul>
            <li>March 18-20, 2022</li>
        </ul>
        <a href="https://sports-ideas.com/">
            <li>Sports IDEAS Symposium</li>
        </a>
        <ul>
            <li>Dates TBD</li>
        </ul>
        <a href="https://statsbomb.com/conference/">
            <li>StatsBomb Innovation in Football Conference</li>
        </a>
        <ul>
            <li>October 8, 2021</li>
        </ul>
        <a href="https://www.youtube.com/channel/UCx7Ghivm_HW6935FdubecBA/videos">
            <li>Seattle Hockey Analytics Conference</li>
        </a>
        <ul>
            <li>YouTube videos</li>
        </ul>
        <a href="https://statds.org/events/ucsas2021/">
            <li>UConn Sports Analytics Symposium</li>
        </a>
        <ul>
            <li>October 9, 2021</li>
        </ul>
        <a href="https://www.youtube.com/playlist?list=PLLg_vDyk8Xl89DRQ48e0WYOl80fIM1Avs">
            <li>Vancouver Hockey Analytics Conference</li>
        </a>
        <ul>
            <li>YouTube videos</li>
        </ul>
    </ul>

    <h4><b>Data</b></h4>
    <ul>
        <a href="https://www.kaggle.com">
            <li>Kaggle</li>
        </a>
        <ul>
            <li>Kaggle is a tremendous resource for collected datasets and competitions in a variety of sports competitions</li>
        </ul>
    
        <a href="https://rbsdm.com">
            <li>RBSDM</li>
        </a>
        <ul>
            <li>Football statistics page run by Ben Baldwin</li>
            <li>Has many useful datasets as well as beginner nflfastR tutorials</li>
        </ul>

        <a href="https://kenpom.com">
            <li>Kenpom</li>
        </a>
        <ul>
            <li>(Awesome) College MBB analytics website run by Ken Pomeroy</li>
            <li>Team specific data requires a paid subscription</li>
        </ul>

        <a href="https://www.pff.com">
            <li>PFF</li>
        </a>
        <ul>
            <li>Cutting edge NFL and CFB analytics website run by Cris Collinsworth</li>
            <li>Most data behind paywall</li>
            <li>Lots of pretty incredible articles and analysis</li>
        </ul>

        <a href="https://www.basketball-reference.com">
            <li>Basketball Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for NBA</li>
        </ul>

        <a href="https://www.sports-reference.com/cbb/">
            <li>Sports Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for MBB</li>
        </ul>

        <a href="https://www.pro-football-reference.com">
            <li>Football Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for NFL</li>
        </ul>

        <a href="https://fbref.com/en/">
            <li>FB Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for professional Soccer</li>
        </ul>

        <a href="https://www.sports-reference.com/cfb/">
            <li>CFB Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for college football</li>
        </ul>

        <a href="https://www.baseball-reference.com">
            <li>MLB Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for MLB</li>
        </ul>

        <a href="http://Hockey-Reference.com">
            <li>Hockey Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for NHL</li>
        </ul>

        <a href="https://community.amstat.org/sis/sportsdataresources">
            <li>Sports Data Resources</li>
        </a>
        <ul>
            <li>General list of databases for a variety of sports</li>
        </ul>
    </ul>

    <h4><b>R packages</b></h4>
    <ul>
        <a href="https://www.nflfastr.com">
            <li>nflfastR</li>
        </a>
        <ul>
            <li>Website for R package, nflfastR, which has many useful functions and datasets for analyzing the NFL</li>
        </ul>
    
        <a href="https://gist.github.com/spfleming/2527a6ca2b940af2a8aa1fee9320171d">
            <li>cfbscrapR</li>
        </a>
        <ul>
            <li>Github for R package, cfbscrapR, which helps analysis of college football data</li>
        </ul>

        <a href="https://www.rdocumentation.org/packages/nbastatR/versions/0.1.10131">
            <li>nbastatR</li>
        </a>
        <ul>
            <li>Website for R package, nbastatR, which assists in scraping data and generating analysis for NBA</li>
        </ul>
        
        <a href="https://github.com/BillPetti/baseballr">
            <li>baseballR</li>
        </a>
        <ul>
            <li>Github for R package, baseballR, that assists in analyzing MLB analytics</li>
        </ul>

        <a href="https://github.com/saiemgilani/kenpomR">
            <li>KenpomR</li>
        </a>
        <ul>
            <li>R package to scrape Kenpom (team specific data requires subscription)</li>
        </ul>
    </ul>

    <h4><b>Learning</b></h4>
    <ul>
        <a href="https://techgraphs.fangraphs.com/how-to-use-r-for-sports-stats-part-1-the-absolute-basics/">
            <li>How to Use R for Sports</li>
        </a>
        <ul>
            <li>Provides incredibly basic walkthrough of how to use R to load, clean, and run analysis of sports data</li>
        </ul>
    
        <a href="https://github.com/JackLich10/JackLich10/blob/main/syracuse_football_analytics_blitz/Syracuse%20Football%20Analtyics.pdf">
            <li>Syracuse Analytics Blitz</li>
        </a>
        <ul>
            <li>Github of project finished by Jack Lichtenstein, Ben Thorpe, and Bryce Grove for Syracuse Analytics Blitz in February
            2021, with the goal of estimating optimal run/pass ratios by field position in the NFL. Excellent example of stunning
            dataviz, as well as what it looks like to work a project through to completion.</li>
        </ul>
    </ul>

</div>
{% endblock %}