{% extends "base.html" %}

{% block style %}
<style>
    body,
    h5,
    h6 {
        text-align: left;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
        padding-left: 10vw;
    }

    h4 {
        text-align: left;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
        padding-left: 1vw;
    }

    h1,
    h2,
    h3 {
        text-align: center;
        font-family: "Karma", sans-serif;
        background-color: #2e6387;
        color: #fbfcfc;
    }

    .logo {
        position: absolute;
        max-width: 15vw;
        max-height: 15vh;
        top: 0;
        right: 0;
    }

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 10vh;
        width: 100vw;
        text-align: center;
        background-color: #fbfcfc;
    }

    .last-updated {
        position: fixed;
        left: 40vw;
        top: 95vh;
    }

    .footer-p {
        font-size: 2vmin;
        text-align: center;
        color: black;
        font-family: "Karma", sans-serif;
    }

    /* Style the sidebar - fixed full height */
    .sidebar {
        width: 10vw;
        height: calc(100vh - 10vh);
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
        overflow-x: hidden;
        padding-top: 2vh;
    }

    /* Style sidebar links */
    .sidebar a {
        text-decoration: none;
        font-size: 2vmin;
        text-align: center;
        color: #fbfcfc;
        display: block;
    }

    /* Style links on mouse-over */
    .sidebar a:hover {
        color: #fbfcfc;
    }

    .social-sidebar {
        display: none;
    }

    div.scroll {
        height: calc(100vh - 20vh); 
        overflow-x: auto; 
        overflow-y: auto;
        margin: 0 auto;
    }

    p {
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        overflow-wrap: break-word;
        text-align: left;
        color: #fbfcfc;
        text-align: center;
    }

    .row {
        display: flex;
    }

    .column {
        padding-top: 1vh;
        flex: 16.6667vw;
    }

    .fa {
        font-size: 3vmin;
        padding-top: 1vh;
        padding-bottom: 1vh;
        width: 7vw;
        text-align: center;
        text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

        /* Twitter */
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-github {
        background: white;
        color: black;
    }

    .fa-envelope {
        background: black;
        color: white;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        #footer {
            display: none;

        }
        .last-updated {
            display: none;
        }
        .social-sidebar {
            display: block;
            padding-top: 2vh;
            padding-left: 1vw;
        }
        .social-sidebar .social-sidebar-row {
            display: flex;
            padding-bottom: 2vh;
        }
        .fa-github {
        background: black;
        color: white;
        }
    }
</style>
{% endblock %}

{% block title %}
Resources
{% endblock %}

{% block content %}
<div class="scroll">
    
    <h4><b>Internship Resources</b></h4>
    <ul>
        <a href="https://wagerpager.co/">
            <li>WagerPager</li></a>
        <ul>
            <li>The leading jobs platform for the sports betting industry. Has openings from big names like FanDuel and Draftkings, startups like Betr and PrizePicks, sports analytics providers, media and news, SaaS, fintech, and more. Also has great career advice articles too.</li>
            <a href="https://wagerpager.co/seeker/signup"><li>DSAC members can get referred to jobs and recruiters directly. Sign up and upload your resume here:</li></a>
        </ul>
        <a href="https://www.teamworkonline.com/">
            <li>Teamworkonline</li></a>
        <ul>
            <li>Great resource online for jobs in sports (not necessarily analytics)
            </li>
        </ul>

        <a href="https://www.workinsports.com/t-internship-jobs.html">
            <li>WorkInSports</li>
        </a>
        <ul>
            <li>Not as many but some good internship postings on here</li>
        </ul>

        <a href="https://www.indeed.com/q-2024-sports-analytics-internship-jobs.html?vjk=8c2ea7ddabb2fe89">
            <li>Indeed</li>
        </a>
        <ul>
            <li>Can always find internship opportunities on Indeed</li>
        </ul>

        <a href="https://www.mlb.com/careers/club-careers">
            <li>MLB</li>
        </a>
        <ul>
            <li>Often MLB teams will post internships on their individual career websites which can be found here</li>
        </ul>

        <a href="https://careers.nba.com/early-career-programs/">
            <li>NBA</li>
        </a>
        <ul>
            <li>NBA internship opportunities</li>
        </ul>
    </ul>

    <h4><b>Data</b></h4>
    <ul>
        <a href="https://www.kaggle.com">
            <li>Kaggle</li>
        </a>
        <ul>
            <li>Kaggle is a tremendous resource for collected datasets and competitions in a variety of sports competitions</li>
        </ul>
    
        <a href="https://rbsdm.com">
            <li>RBSDM</li>
        </a>
        <ul>
            <li>Football statistics page run by Ben Baldwin</li>
            <li>Has many useful datasets as well as beginner nflfastR tutorials</li>
        </ul>

        <a href="https://kenpom.com">
            <li>Kenpom</li>
        </a>
        <ul>
            <li>(Awesome) College MBB analytics website run by Ken Pomeroy</li>
            <li>Team specific data requires a paid subscription</li>
        </ul>

        <a href="https://www.pff.com">
            <li>PFF</li>
        </a>
        <ul>
            <li>Cutting edge NFL and CFB analytics website run by Cris Collinsworth</li>
            <li>Most data behind paywall</li>
            <li>Lots of pretty incredible articles and analysis</li>
        </ul>

        <a href="https://www.basketball-reference.com">
            <li>Basketball Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for NBA</li>
        </ul>

        <a href="https://www.sports-reference.com/cbb/">
            <li>CBB Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for MBB</li>
        </ul>

        <a href="https://www.pro-football-reference.com">
            <li>Pro Football Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for NFL</li>
        </ul>

        <a href="https://fbref.com/en/">
            <li>Soccer Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for professional Soccer</li>
        </ul>

        <a href="https://www.sports-reference.com/cfb/">
            <li>CFB Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for college football</li>
        </ul>

        <a href="https://www.baseball-reference.com">
            <li>Baseball Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for MLB</li>
        </ul>

        <a href="https://www.retrosheet.org/game.htm">
            <li>RetroSheet</li>
        </a>
        <ul>
            <li>Complete play-by-play data for all MLB games from 1912-present</li>
        </ul>

        <a href="http://Hockey-Reference.com">
            <li>Hockey Reference</li>
        </a>
        <ul>
            <li>Most comprehensive data source for NHL</li>
        </ul>

        
    </ul>

    <h4><b>R Packages</b></h4>
    <ul>
        <a href="https://www.nflfastr.com">
            <li>nflfastR</li>
        </a>
        <ul>
            <li>Website for R package, nflfastR, which has many useful functions and datasets for analyzing the NFL</li>
        </ul>
    
        <a href="https://github.com/saiemgilani/cfbscrapR">
            <li>cfbscrapR</li>
        </a>
        <ul>
            <li>Github for R package, cfbscrapR, which helps analysis of college football data</li>
        </ul>

        <a href="https://www.rdocumentation.org/packages/nbastatR/versions/0.1.10131">
            <li>nbastatR</li>
        </a>
        <ul>
            <li>Website for R package, nbastatR, which assists in scraping data and generating analysis for NBA</li>
        </ul>
        
        <a href="https://github.com/BillPetti/baseballr">
            <li>baseballR</li>
        </a>
        <ul>
            <li>Github for R package, baseballR, that assists in analyzing MLB analytics</li>
        </ul>

        <a href="https://github.com/saiemgilani/kenpomR">
            <li>KenpomR</li>
        </a>
        <ul>
            <li>R package to scrape Kenpom (team specific data requires subscription)</li>
        </ul>

        <a href="https://github.com/lbenz730/ncaahoopR">
            <li>ncaahoopR</li>
        </a>
        <ul>
            <li>R package with play-by-play for CBB</li>
        </ul>
    </ul>

    <h4><b>Learning Resources</b></h4>
    <ul>
        
        <a href="https://techgraphs.fangraphs.com/how-to-use-r-for-sports-stats-part-1-the-absolute-basics/">
            <li>How to Use R for Sports</li>
        </a>
        <ul>
            <li>Provides incredibly basic walkthrough of how to use R to load, clean, and run analysis of sports data</li>
        </ul>
    
        <a href="https://github.com/JackLich10/JackLich10/blob/main/syracuse_football_analytics_blitz/Syracuse%20Football%20Analtyics.pdf">
            <li>Syracuse Analytics Blitz</li>
        </a>
        <ul>
            <li>Github of project finished by Jack Lichtenstein, Ben Thorpe, and Bryce Grove for Syracuse Analytics Blitz in February
            2021, with the goal of estimating optimal run/pass ratios by field position in the NFL. Excellent example of stunning
            dataviz, as well as what it looks like to work a project through to completion.</li>
        </ul>

        <a href="https://phdemotions.medium.com/resources-for-learning-sports-analytics-coding-3551bfcc4af">
            <li>Resources for Learning Sports Analytics Coding</li>
        </a>
        <ul>
            <li>Well-compiled list of sources for how to get started with resources depending on the sport</li>
        </ul>
        <a href="https://docs.google.com/document/d/1fWET_GreI5qO2E-DDDojsmlfNeoQgZaCji-4D5M3PmA/edit?usp=sharing">
            <li>DSAC Learning R</li>
        </a>
        <ul>
            <li>Resources and a recommended learning pathway for R</li>
        </ul>
    </ul>

    <h4><b>Competitions</b></h4>
    <ul>
        
        <a href="https://formal-analysis.com/isace/2024/">
            <li>International Sports Analytics Conference and Exhibition</li>
        </a>
        <ul>
            <li>15-17 July 2024, Paris, France</li>
            <li>Paper Submission: 10 March 2024</li>
        </ul>
        <a href="https://crossroadsclassicanalyticschallenge.com/">
            <li>Crossroads Classic Analytics Challenge</li>
        </a>
        <ul>
        </ul>
        <a href="https://sabr.org/analytics/case">
            <li>2024 Diamond Dollars Case Competition</li>
        </a>
        <ul>
            <li>Held during SABR conference from March 8-10</li>
        </ul>
    
        
    </ul>

    <h4><b>Conferences</b></h4>
    <ul>
        <a href="https://www.sloansportsconference.com/">
            <li>2024 MIT Sloan Sports Analytics Conference</li></a>
        <ul>
            <li>March 1 - 2, 2024 at Boston Convention & Exhibition Center in Boston, MA</li>
        </ul>

        <a href="https://sabr.org/analytics">
            <li>Society for American Baseball Research Analytics Conference</li>
        </a>
        <ul>
            <li>March 8-10, 2024</li>
        </ul>

        <a href="https://sciences.ucf.edu/statistics/big-data-analytics-symposium/">
            <li>UCF Big Data Analytics Symposium 2024</li>
        </a>
        <ul>
            <li>March 14, 2024</li>
        </ul>

        <a href="https://wsb.wharton.upenn.edu/events-hq/a1WHq00000FtssZMAR/">
            <li>The 2024 Wharton People Analytics Conference</li>
        </a>
        <ul>
            <li>March 14-15, 2024</li>
        </ul>

        <a href="https://sportsandsociety.osu.edu/events/4th-sports-analytics-conference-set-april-5-6">
            <li>The Ohio State University Sports and Society Initiative 4th Sports Analytics Conference</li>
        </a>
        <ul>
            <li>April 5-6, 2024</li>
        </ul>
        <a href="https://uconnsportsanalytics.org/">
            <li>UConn Sports Analytics Symposium (UCSAS)</li>
        </a>
        <ul>
            <li>Date: April 12-13, 2024</li>
            <li>Location: University of Connecticut, Storrs, CT</li>
        </ul>
        <a href="https://www.witinc.com/great-lakes-data-analytics-summit">
            <li>Great Lakes Data & Analytics Summit</li>
        </a>
        <ul>
            <li>April 18, 2024</li>
        </ul>
        <a href="http://www.cascadiasports.com/">
            <li>The Cascadia Symposium on Statistics in Sports</li>
        </a>
        <ul>
            <li>September 21, 2024</li>
        </ul>
        <a href="https://www.stat.cmu.edu/cmsac/">
            <li>Carnegie Mellon Sports Analytics Conference</li>
        </a>
        <ul>
            <li>Date TBD</li>
        </ul>
        
    </ul>

</div>
{% endblock %}